@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="alert alert-success" role="alert">

    <h4 class="alert-heading" style="text-align:center">
        Welcome To the Employee Management Service... We want to tell you
        something about us
    </h4>
</div>


<div class="about1">
    <p>
        <b>
            This is a simple Employee Management Service website initially developed for Employee Management Service.
        </b>
    </p>

</div>
<div class="about2">
    <h6 class="mb-0">
        <b>This website is designed and developed using .NET 6.0, ASP.NET, Entity Framework Core<br> Bootstrap, HTML and CSS.</b>
        <br><br>The website is developed and maintained by: <br>
    </h6>
    <h5>
        -- Ganesh Bhoibar
    </h5>
</div>
